* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

img{
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 30px 75px;
    transition: all 1s ease;
}
.logo h2 {
    color: #d8d9d5;
}

.btn-menubar {
    outline: none;
    border: none;
    padding: 10px 10px 4px 10px;
    display: flex;
}

.btn-menubar svg {
    width: 20px;
    height: 20px;
    fill: #151621;
    margin-bottom: 0;
    transition: all 0.3s ease;

    &:hover{
        fill: #d8d9d5;
    }
}

.lg-hidden {
    display: none;
}

.menu-right > .menu-li{
    position: relative;
    display: flex;
    align-items: center;
    gap: 55px;
}

.fa-user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #19131c;
    background-color: #8d989b;
    border-radius: 50%;
    margin-left: 670px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        color: #d8d9d5;
        background-color: #19131c;
    }
}

.btn-link {
    display: flex;
    border: none;
    outline: none;
    padding: 8px 18px;
    margin-left: 660px;
}

.btn-link-two {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 30px 0px 0px 0px;
    font-size: 18px;
    color: #19131c;
    background-color: #8d989b;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        color: #d8d9d5;
        background-color: #19131c;
    }
}


.menu-li .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    width: 100%;
}

.menu-li .menu-link{
    background-color: #8d989b;
    border-radius: 13px;
    padding: 5px 10px 5px 10px;
    color: #19131c;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover{
        color: #d8d9d5;
        background-color: #19131c;
    }
}

.header{
    position: relative;
    background: url('../img/lost\ ark.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-box{
    width: 50%;
    padding: 0 75px;
    display: flex;
    height: 80vh;
    align-items: center;
}

.text-content h1{
    color: #d8d9d5;
    font-size: 4rem;
}

.text-content .btn-link{
    padding: 1rem 2rem;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

.text-content h1{
    text-shadow: 2px 2px 2px #19131c;
}

@media (max-width:900px) {
    .sm-hidden {
        display: none;
    }

    .lg-hidden {
        display: block;
        background-color: #8d989b;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
            background-color: #19131c;
        }
    }

    .navbar {
        padding: 10px 25px;
    }

    .fa-user {
        display: none;
    }

    .menu-right .menu-li {
        position: fixed;
        top: -550px;
        left: 0px;
        padding: 10px 25px;
        width: 100%;
        opacity: 0;
        z-index: 1;
        gap: 10px;
        color: #151621;
        background: rgba(0, 0, 0, 0.2);
        flex-direction: column;
        visibility: hidden;
        transition: all 1s ease;
        transform-origin: bottom;
    }

    .navbar.active {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .menu-li.active {
        left: 0;
        top: 60px;
        opacity: 1;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .menu-li.active .menu-link{
        display: flex;
        justify-content: center;
        border: 0;
        font-weight: 600;
        color: #8d989b;
        background-color: rgba(0, 0, 0, 0);

        &:hover{
            color: #d8d9d5;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .menu-li li {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .text-box{
        width: 100%;
        padding: 0 25px;
    }

    .text-content h1{
        font-size: 2.5rem;
    }

    .btn-link{
        padding: 10px 12px;
    }

}